[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "linkprediction"]
	path = linkprediction
	url = https://github.com/recon-icm/linkprediction
